body {
    height: 100vh;
    background-image: linear-gradient(
      to bottom right,#5b9dff 20%, #afc7ff 30%, #afc7ff 30%, #5b9dff 50%
    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
  }
  @keyframes movingGradient {
    from { background-position : 0 0;}
    to { background-position: 100% 100%;}
  }
  .navbar{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .nav-item{
    padding-right: 30px;
  }

  .login {
    margin-right: 30px;
    border: none;
    color: white;
    background: none;
    padding-top: 8px;
  }
  .signup {
    background-color: yellow;
    border-radius: 20px;
    border: none;
    padding: 10px 25px;
  }
  .content {
    margin-left: 50px;
    margin-right: 0px;
    color: white;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }
  .download{
    width: 100%;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 2px;
  }
  
  .map{
    width:100%;
    display: flex;
    padding-right: 40px;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 100px;
  }
  .bookyourspotnow{
    text-align: center;
  }
  .book{
    background-color: yellow;
    border-radius: 20px;
    border: none;
    padding: 10px 60px 8px;
  }
  .clickbook{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  }
  .container{
    height: 500px;
    color: white;
    margin-top: 50px;
    display: none;

  }
  
  .getstarted{
    position: absolute;
    width: 100%;
    height: 75%;
    background-color: rgba(52, 41, 41, 0.68);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: ease-in-out 200ms;
    transform: translate(0%, 0%) scale(0.2);
  }
  .dialog{
    width: 500px;
    height: 400px;
    background-color: #3781f0;
    padding: 50px;
  }

.open-one{
  position: absolute;
  top : 78%;
  visibility: visible;
  transform: translate(0%, 0%) scale(1);
}
.timing{
  color: white;
  padding: 20px 0px;
}
.close-btn{
  position: absolute;
  right: 35%;
  top: 20%;
  font-size: 1.5em;
  cursor: pointer; 
}
.close-btn :hover{
  background-color: black;
}

.prow{
  padding: 30px;
}

    
  .footer{
    width: 100%;
    background-color: #3781f0;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .foot{
    padding: 15px 0px;
  }
  .second-download{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .btn{
    margin-left: 10px;
  }
.presscolor{
    color: white;
    background-image: linear-gradient(
      to bottom right,#5b76ff 50%, #e96262 30%, #e96262  30%, #e96262 50%
    );
    background-size: 200% 200%;
    animation: movingGradient 5s linear infinite alternate;
  }
  @keyframes movingGradient {
    from { background-position : 0 0;}
    to { background-position: 100% 100%;}
  }

button {
  background-color: yellow;
    border-radius: 20px;
    border: none;
    padding: 10px 10px;
}

.themed-grid-col{
    height: 50px;
    
}

.column {
  float: left;
  padding: 10px;
}

.userdetails1{
  display: inline;
}
.userdetails2{
  display: inline;
}
.userdetails3{
  display: inline;
}
.userdetails4{
  display: inline;
}
.userdetails5{
  display: inline;
}
.userdetails6{
  display: inline;
}
.userdetails7{
  display: inline;
}
.userdetails8{
  display: inline;
}
.userdetails9{
  display: inline;
}
.userdetails10{
  display: inline;
}
.userdetails11{
  display: inline;
}
.userdetails12{
  display: inline;
}

.tuserdetails1{
  display: inline;
}
.tuserdetails2{
  display: inline;
}
.tuserdetails3{
  display: inline;
}
.tuserdetails4{
  display: inline;
}
.tuserdetails5{
  display: inline;
}
.tuserdetails6{
  display: inline;
}
.tuserdetails7{
  display: inline;
}
.tuserdetails8{
  display: inline;
}



.column1{
  display: none;
}
.column2{
  display: none;
}
.column3{
  display: none;
}
.column4{
  display: none;
}
.column5{
  display: none;
}
.column6{
  display: none;
}
.column7{
  display: none;
}
.column8{
  display: none;
}
.column9{
  display: none;
}
.column10{
  display: none;
}
.column11{
  display: none;
}
.column12{
  display: none;
}

.tcolumn1{
  display: none;
}
.tcolumn2{
  display: none;
}
.tcolumn3{
  display: none;
}
.tcolumn4{
  display: none;
}
.tcolumn5{
  display: none;
}
.tcolumn6{
  display: none;
}
.tcolumn7{
  display: none;
}
.tcolumn8{
  display: none;
}







.visible{
  display: block;
}



@media only screen and (max-width: 900px){
    .content{
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr;
    }
    .download{
      padding-bottom: 20px;
    }
    .grid-item{
        text-align: center;
        width: 100%;
    }
    .map{
        width: 100%;
    }
    .download{
        padding-top: 20px;
    }

    .clickbook{
        margin-left: 10%;
        margin-right: 10%;
    }
    .book{
        background-color: yellow;
        border-radius: 20px;
        border: none;
        padding: 10px 20px 8px;
    }
    .container{
        height: 720px;
    }

    }
    .one{
      width: 400px;
    }
    

        
